span{
  color:red;
}

.div1{
  margin-top: 25px;
  margin-bottom: 100px;
  text-align: center;
  background-color: cyan;
}

.div2{
  margin-top:125px;
  background-color:#563498;
  text-align: center;
}

a{
  margin-right: 20px;
}
