.jumbotron{
  margin-top: 165px;
  background-color:pink;
  text-align: center;
}
input[type='text']{
  width:50%;
}

input[type='password']{
  width:50%;

}
body{
  background:url(https://images.unsplash.com/photo-1548276145-69a9521f0499?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=877&q=80);
  background-repeat: no-repeat;
  background-size: cover;

}
